<!doctype html>
<html lang="en">

<head>
    <%- include('partials/head') -%>
</head>

<body>

    <body>
        <%- include('partials/header') -%>

        <main role="main">

            <section class="jumbotron text-center">
                <div class="container">
                    <h1>Quiz App</h1>
                    <p class="lead text-muted">Advance your skills...add more</p>
                    <p>
                        <a href="#" class="btn btn-primary my-2">View Topics</a>
                    </p>
                </div>
            </section>

            <section class="topics py-5 bg-light">
                <div class="container">
                    <div class="row">

                        <% topics.forEach(function(topic, index){ %>
                        <!-- Start topic -->
                        <div class="col-md-4">
                            <div class="card-deck mb-3 text-center">
                                <div class="card mb-4 shadow-sm">
                                    <div class="card-header">
                                        <h4 class="my-0 font-weight-normal"><%= index++ %></h4>
                                    </div>
                                    <div class="card-body">
                                        <h1 class="card-title pricing-card-title"><%= topic.name %> </h1>
                                        <p>Instructions</p>
                                        <a href="/quiz?topic=<%= topic._id %>" id="#maths" type="button"
                                            class="btn btn-lg btn-block btn-outline-primary">Start
                                            Quiz</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Topic -->
                        <% }); %>

                    </div>
                </div>
            </section>

        </main>

        <%- include('partials/footer') -%>
        <!-- <script src="/js/quiz.js"></script> -->
    </body>

</html>